## Extracting Data From Relational Databases using python.

---
#### **A/** - Extracting Data from **SQLITE** Database: sqlite is a self-contained and cross platform database.
---

 * First import the library that we can use to interact with sqlite database: *sqlite3*

In [76]:
import sqlite3

 * Connect to the database using *'connect()'*:: Create a connection to the database: This will create the database if not yet available.

In [101]:
# Scenario: the sqlite3 will attempt to find the database ModelDB in the local folder and if not available, will create the database.
sqliteConnection = sqlite3.connect("EmployeeDB.db")
sqliteConnection.close()

 * Create a table

In [102]:
# Open the connection to the database
sqliteconnection = sqlite3.connect("EmployeeDB.db")
# Open cursor
cursor = sqliteconnection.cursor()
# table creation
create_table = """
                CREATE TABLE Supervisor(
                   agent_id INTEGER PRIMARY KEY,
                   name VARCHAR(20),
                   gender CHAR(1),
                   outbound_calls INTEGER,
                   inbound_calls INTEGER,
                   fcr INTEGER,
                   aht INTEGER
                );"""

#execute table creation
cursor.execute(create_table)

# commit changes
sqliteconnection.commit()

#close connection
sqliteconnection.close

OperationalError: table Supervisor already exists

* Insert some data in the table 'Operator'

In [103]:
# sample data
supervisor_data = [( 1, "gala", "F", 25, 12, 5, 23),
                   ( 2, "Siri", "M", 10, 2, 9, 210),
                   ( 3, "Cortana", "F", 105, 120, 5, 3),
                   ( 4, "Zegis", "F", 75, 18, 61, 0)]

# open connection
sqliteconnection = sqlite3.connect("EmployeeDB.db")

# open cursor
cursor = sqliteconnection.cursor()

# inserting each operator record in table.
for oper in Operator_data:
    
    insert_statement = """ INSERT INTO Supervisor
                    (agent_id, name, gender, outbound_calls, inbound_calls, fcr, aht)
                    VALUES
                    ({0}, {1}, {2}, {3}, {4}, {5}, {6});""".format(oper[0], oper[1], oper[2], oper[3], oper[4], oper[5], oper[6])    
      
    
    # Execute the insertion
    cursor.execute(insert_statement)

# save the changes 
connection.commit()

#close connection
connection.close()

OperationalError: no such column: gala

  * Extract data from the table

In [104]:
# Reopen the conenction
sqliteConnection = sqlite3.connect("EmployeeDB.db")
# Open a cursor
cursor = sqliteConnection.cursor()
# extraction query
query = "SELECT * FROM Supervisor"
# Query execution
cursor.execute(query)
# fetch results
result = cursor.fetchall()
# print results
for row in result:
    print(row)
    
# close connection
sqliteConnection.close()

---
#### **A/** - Extracting Data from **MySQL** Database: mysql is an open source and enterprise level database.
---

* Import the python package 'pymysql' necessaru to connect to mySql

In [21]:
!pip install pymysql

Requirement already satisfied: pymysql in /home/cv-dlbox/anaconda3/lib/python3.6/site-packages (0.9.2)
Requirement already satisfied: cryptography in /home/cv-dlbox/anaconda3/lib/python3.6/site-packages (from pymysql) (2.2.2)
Requirement already satisfied: idna>=2.1 in /home/cv-dlbox/anaconda3/lib/python3.6/site-packages (from cryptography->pymysql) (2.6)
Requirement already satisfied: asn1crypto>=0.21.0 in /home/cv-dlbox/anaconda3/lib/python3.6/site-packages (from cryptography->pymysql) (0.24.0)
Requirement already satisfied: six>=1.4.1 in /home/cv-dlbox/anaconda3/lib/python3.6/site-packages (from cryptography->pymysql) (1.11.0)
Requirement already satisfied: cffi>=1.7 in /home/cv-dlbox/anaconda3/lib/python3.6/site-packages (from cryptography->pymysql) (1.11.5)
Requirement already satisfied: pycparser in /home/cv-dlbox/anaconda3/lib/python3.6/site-packages (from cffi>=1.7->cryptography->pymysql) (2.18)

* Import the package in jupyter notebook for usage

In [22]:
import pymysql

* Connect to the database

In [23]:
conx_details = {'host': 'mysqldbawsinstance.cymzezryeunw.eu-west-3.rds.amazonaws.com',
 'username': 'awscarlos',
 'password': '$AwsMysql_carlv1',
 'db': 'mysqldb'}

In [24]:
# Connect to the database
mysql_connection = pymysql.connect(conx_details['host'], conx_details['username'], conx_details['password'], conx_details['db'])

#close mysql connection
mysql_connection.close()

OperationalError: (2003, "Can't connect to MySQL server on 'mysqldbawsinstance.cymzezryeunw.eu-west-3.rds.amazonaws.com' (timed out)")

* Create table

---
#### **A/** - Extracting Data from **MsSQL* Database: proprietary database from Microsoft.
---